# EDA of COVID-19 data

- data from: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
- using the cleaned dataset from https://towardsdatascience.com/gather-all-the-coronavirus-data-with-python-19aa22167dea

In [9]:
import matplotlib.pyplot as plt
import OpenBlender
import pandas as pd
import json
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport

%matplotlib inline

In [4]:
action = 'API_getObservationsFromDataset'
parameters = { 
 'token':'5e88b2f09516297238d805777WfvS3wlYPzoMhRQw1GvXCyv3pW5q0',
 'id_dataset':'5e7a0d5d9516296cb86c6263',
 'date_filter':{
               "start_date":"2020-01-01T06:00:00.000Z",
               "end_date":"2020-03-11T06:00:00.000Z"},
 'consumption_confirmation':'on',
 'add_date' : 'date'
}

df_confirmed = pd.read_json(json.dumps(OpenBlender.call(action, parameters)['sample']), convert_dates=False, convert_axes=False).sort_values('timestamp', ascending=False)
df_confirmed.reset_index(drop=True, inplace=True)
df_confirmed.head(10)

Task ID: '5e88b36d0895fafb4a9d8d4b'.
Total estimated consumption: 57009.09 processing units.
Continue?  [y] yes 	 [n] noy
Task confirmed. Starting download..
1.28 %
2.56 %
3.85 %
5.13 %
------------------------------------------------
API call error: 'NoneType' object is not iterable
------------------------------------------------

Warning: Some observations could not be processed.
7.69 %
8.97 %
10.26 %
11.54 %
12.82 %
14.1 %
------------------------------------------------
API call error: argument of type 'NoneType' is not iterable
------------------------------------------------

Warning: Some observations could not be processed.
16.67 %
17.95 %
19.23 %
20.51 %
21.79 %
23.08 %
24.36 %
25.64 %
26.92 %
28.21 %
29.49 %
30.77 %
32.05 %
33.33 %
34.62 %
35.9 %
------------------------------------------------
API call error: argument of type 'NoneType' is not iterable
------------------------------------------------

Warning: Some observations could not be processed.
38.46 %
39.74 %
41.03 %
42.31 %
43.59 %
44.87 %
46.15 %
47.44 %
48.72 %
50.0 %
51.28 %
52.56 %
53.85 %
55.13 %
56.41 %
57.69 %
58.97 %
60.26 %
61.54 %
62.82 %
64.1 %
65.38 %
66.67 %
67.95 %
69.23 %
70.51 %
71.79 %
73.08 %
74.36 %
75.64 %
76.92 %
78.21 %
79.49 %
80.77 %
82.05 %
83.33 %
84.62 %
85.9 %
87.18 %
88.46 %
89.74 %
91.03 %
92.31 %
93.59 %
94.87 %
96.15 %
97.44 %
98.72 %
100.0 % completed.

,confirmed,deaths,timestamp,province_state,long,country_region,timestamp.date,lat,recovered
0,0,0,1583841600,,-59.5432,Belize,2020-03-10,13.1939,
1,758,6,1583841600,Shandong,118.1498,China,2020-03-10,36.3427,719
2,9,0,1583841600,,-83.7534,Costa Rica,2020-03-10,9.7489,0
3,0,0,1583841600,,21.7587,Congo (Kinshasa),2020-03-10,-4.0383,0
4,0,0,1583841600,,21.7587,Congo (Brazzaville),2020-03-10,-4.0383,0
5,3,0,1583841600,,-74.2973,Colombia,2020-03-10,4.5709,0
6,1215,1,1583841600,Zhejiang,120.0934,China,2020-03-10,29.1832,1191
7,174,2,1583841600,Yunnan,101.4870,China,2020-03-10,24.9740,170
8,76,3,1583841600,Xinjiang,85.2401,China,2020-03-10,41.1129,73
9,1,0,1583841600,Tibet,88.0924,China,2020-03-10,31.6927,1

In [8]:
df_confirmed

,confirmed,deaths,timestamp,province_state,long,country_region,timestamp.date,lat,recovered
0,0,0,1583841600,,-59.5432,Belize,2020-03-10,13.1939,
1,758,6,1583841600,Shandong,118.1498,China,2020-03-10,36.3427,719
2,9,0,1583841600,,-83.7534,Costa Rica,2020-03-10,9.7489,0
3,0,0,1583841600,,21.7587,Congo (Kinshasa),2020-03-10,-4.0383,0
4,0,0,1583841600,,21.7587,Congo (Brazzaville),2020-03-10,-4.0383,0
...,...,...,...,...,...,...,...,...,...
11204,0,0,1579694400,,73.2207,Maldives,2020-01-22,3.2028,0
11205,0,0,1579694400,,112.5000,Malaysia,2020-01-22,2.5000,0
11206,0,0,1579694400,,46.8691,Madagascar,2020-01-22,-18.7669,0
11207,0,0,1579694400,,6.1296,Luxembourg,2020-01-22,49.8153,0
11208,0,0,1579694400,,65.0000,Afghanistan,2020-01-22,33.0000,0

In [12]:
df = df_confirmed
report_title = f'Report of covid-19 cases'
profile = ProfileReport(df, title=report_title)
profile.to_file(
        output_file=f"./report/covid19_cases.html")

HBox(children=(FloatProgress(value=0.0, description='variables', max=9.0, style=ProgressStyle(description_widt…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=25.0, style=ProgressStyle…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=2.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…